html,
body,
.grid {
  height: 100%;
  margin: 0;
  font-family: "Ubuntu Condensed", sans-serif !important;
  background-color: #ffffff; }

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  min-height: 100vh; }

.inline-radio {
  display: inline-flex; }

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: baseline;
  align-content: start; }

.flexContainer:after {
  display: block;
  margin: 10px;
  flex: 999 999 auto; }

.item {
  flex: 0 0 auto;
  margin: 10px; }

.flexCar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  align-content: start; }

.flexCor:after {
  display: block;
  margin: 10px;
  flex: 999 999 auto; }

.car {
  flex: 0 0 auto;
  margin: 20px; }

.carAnime {
  cursor: pointer; }

.carAnime:hover {
  transform: scale(1.1); }

@keyframes promo {
  0% {
    background-color: #3781f0;
    color: #ffffff; }
  25% {
    background-color: #f0624f;
    color: #ffffff; }
  50% {
    background-color: #83a31d;
    color: #f0624f; }
  75% {
    background-color: #bef01f;
    color: #000000; }
  100% {
    background-color: #154ea3; } }

.promoAnimated {
  margin: 10px 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  animation-name: promo;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 0s; }

@keyframes overEffect {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

.navbar-brand {
  width: 100px;
  font-size: 24px; }
  .navbar-brand img {
    height: 50px;
    float: left;
    margin-right: 7px; }

.slide-info {
  background-color: gray;
  opacity: 0.8; }
  .slide-info h1 {
    color: #ffffff;
    font-weight: 800; }
  .slide-info p {
    color: #ffffff;
    font-weight: 500; }

.carousel .carousel-item {
  height: 500px; }

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px; }

.img__wrap {
  position: relative;
  height: 100%;
  width: auto; }

.img__description_layer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(236, 236, 236, 0.6);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s, visibility 0.2s; }

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1; }

.img__description {
  transition: 0.2s;
  transform: translateY(1em); }

.img__wrap:hover .img__description {
  transform: translateY(0); }

.footer-basic {
  padding: 20px 0;
  background-color: #545454;
  color: #ffffff; }

.footer-basic .social {
  text-align: center;
  padding-bottom: 10px; }

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ececec;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75; }

.footer-basic .social > a:hover {
  opacity: 0.9; }

.footer-basic .copyright {
  margin-top: 5px;
  text-align: center;
  font-size: 1rem;
  color: #aaa;
  margin-bottom: 0; }
