@import '_tipografia';
@import '_colors';
$background: dia;

html,
body,
.grid {
  height: 100%;
  margin: 0;
  font-family: $fuente;
  @if $background == dia {
    background-color: $lightGray;
  } @else if $background == noche {
    background-color: $darkgray;
  }
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  min-height: 100vh;
}

footer {
  background-image: linear-gradient(to bottom, $gray, $lightGray);
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.inline-radio {
  display: inline-flex;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: baseline;
  align-content: start;
}
.flexContainer:after {
  display: block;
  margin: 10px;
  flex: 999 999 auto;
}
.item {
  flex: 0 0 auto;
  margin: 10px;
}

.flexCar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  align-content: start;
}
.flexCor:after {
  display: block;
  margin: 10px;
  flex: 999 999 auto;
}
.car {
  flex: 0 0 auto;
  margin: 20px;
}

.carAnime {
  cursor: pointer;
}

.carAnime:hover {
  transform: scale(1.1);
}

@keyframes promo {
  0% {
    background-color: $blue;
    color: $white;
  }
  25% {
    background-color: $coral;
    color: $white;
  }
  50% {
    background-color: $greenApple;
    color: $coral;
  }
  75% {
    background-color: $lima;
    color: $black;
  }
  100% {
    background-color: $blueHard;
  }
}

.promoAnimated {
  margin: 10px 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  animation-name: promo;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 0s;
}

.navbar-brand {
  width: 100px;
  font-size: 24px;
  img {
    height: 50px;
    float: left;
    margin-right: 7px;
  }
}
